<div class='container'>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <p class="text-center"><img src="http://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=200" alt="..." class="img-circle"></p>
    </div>
  </div>
  <h2 class="text-center"><%= @user.username %></h2>
  <p class="text-center">
    <% if current_user.id == @user.id %>
    <% elsif current_user.followees.exists?(id: @user.id) %>
      <form action="/unfollow/<%= @user.id %>" method="post">
        <p class="text-center"><button class="btn btn-primary" type="submit">
          Unfollow <%= @user.username %>
        </button>
      </p>
      </form>
    <% else %>
      <form action="/follow/<%= @user.id %>" method="post">
        <p class="text-center"><button class="btn btn-primary" type="submit">
          Follow <%= @user.username %>
        </button>
      </p>
      </form>
    <% end %>
  </p>
</div>

<!-- <div>
  <a href="/user/<%= @user.id %>/profile/user_skeets">
    <%= @user.username %>'s skeets
  </a><br>
  <a href="/user/<%= @user.id %>/profile/followees">
    <%= @user.username %>'s followees
  </a><br>
  <a href="/user/<%= @user.id %>/profile/followers">
    <%= @user.username %>'s followers
  </a>
  <p>bio</p>
  <p>location</p>
</div> -->


<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="active"><a href="#skeets" role="tab" data-toggle="tab">Skeets</a></li>
      <li><a href="#followees" role="tab" data-toggle="tab">Following</a></li>
      <li><a href="#followers" role="tab" data-toggle="tab">Followers</a></li>
      <li><a href="#show_users" role="tab" data-toggle="tab">All Users</a></li>
    </ul>


    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="skeets"><br><%= erb :user_skeets %></div>
      <div class="tab-pane" id="followees"><br><%= erb :followees %></div>
      <div class="tab-pane" id="followers"><br><%= erb :followers %></div>
      <div class="tab-pane" id="show_users"><br><%= erb :show_users %></div>
    </div>
      </div>
    </div>
<!--
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <% if @partial == "followees" %>
        <%= erb :followees %>
      <% elsif @partial == "followers" %>
        <%= erb :followers %>
      <% elsif @partial == "user_skeets" %>
        <%= erb :user_skeets %>
      <% elsif @partial == "show_users" %>
        <%= erb :show_users %>
      <% end %>
    </div>
  </div> -->


