<div class='container' >
  <h1>Skitter </h1>
  <%= @user.username %>
  <% if current_user.id == @user.id %>
  <form name='Skeet' action="/user/<%= current_user.id %>/new" method='POST'>
    <label>Create Skeet</label>
    <textarea name='skeet' placeholder='type your skeet here...' required></textarea>
    <input type='submit' name='submit'>
  </form>
  <% end %>
  <div>
    <% @all_skeets.each do |skeet| %>
      <div>
        <%= skeet.user.username %>
        <%= skeet.created_at %>
        <%= skeet.skeet %>

      </div>
    <% end %>
  </div><br>
  <a href="/user/<%= current_user.id %>/profile/show_users">See all skeeters</a>
</div>
